.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }
  .footer {
    position: ab;
    bottom: 0;
    background-color: #36454F;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .footer ul {
    padding: 8px;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .footer ul li{
    padding: 8px;
  }
  .footer ul li a {
    color: white;
    font-weight: bold;
  }